table-container {
  height: 10px;
  overflow-y: auto;
}

.custom-input {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(15, 15, 15);
  outline: none;
}

.custom-input:focus {
  border-color: rgb(41, 40, 40);
}

.custom-tab {
  transition: background-color rgb(19, 18, 18);
  width: 80px;
}

.custom-tab:hover,
.custom-tab:focus {
  background-color: #C0C0C0;
}

.custom-tab.active {
  background-color: #242020;
}

.nav-link {
  color: black;
  padding: 7px;
}

.nav-link:hover {
  color: black;
}

.custom-tab .nav-link {
  color: #fff;
}

.custom-tab .nav-link.active {
  background: #3f3f3f;
  color: #fff;
}

.small-font {
  font-size: 0.8rem;
}

.custom-tabs .nav-link {
  border-radius: 3px;
  border: 1px solid #ced4da;
  margin-right: -1px;
}

.custom-tabs .nav-link.active {
  background-color: #3f3f3f;
  border-color: #ccc;
  border-bottom-color: transparent;
  color: white;
}

.custom-tabs {
  width: 30.5em;
  margin-left: 8px;

}

.custom-tabs .nav-item {
  margin-bottom: 0;
  background: #dee7ed;

}

.custom-tabs .nav-link:hover {
  border-color: #adb5bd;
}

.nav-tabs {
  --bs-nav-tabs-border-color: white
}